body {
    font-family: monospace;
    font-size: 1.25em;
    background-image: url("https://images.unsplash.com/photo-1448908828366-ae00562d5fde?ixlib=rb-0.3.…=80&fm=jpg&crop=entropy&w=1080&fit=max&s=d3445f84509dd7515755762709630f97");
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
  list-style-type: none;
  text-align: left;
}

.section-break {
  color: #a9a9a9;
  opacity: 0.3;
}

.tools{
  margin-top: 15px;
}

.header{
  font-family: 'Pacifico',cursive;
  font-weight: 200;
  font-size: 3.0em;
}

a { color:#555 } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:#555; }
a:active { text-decoration: none; color:#555 }

i:hover{
  transition: color 300ms ease, margin-top 300ms ease;
  margin-top: -5px;
}

#twitter:hover {
  color: #77DDF6;
}

#github:hover {
  color: #000;
}

#stack-overflow:hover {
  color: #ED780E;
}

#linked:hover {
  color: #0177B5;
}

.img-container{
  margin-bottom: 25px;
}

.circular-img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }